.navbar-color{
    .me-auto{
        // background: #0137463f;
        padding: 20px 8px 30px 10px;
        border-radius: 20px;
    } 
   
}
.link{
    color: #61dafb !important;
}
.link-w{
    color: #8b8b8b;
}