.navbar-color{
    .me-auto{
        // background: #0137463f;
        padding: 20px 8px 30px 10px;
        border-radius: 20px;
    } 
   
}
.link:hover{
    color: #ff7e5f!important;
}
.link-w{
    background: linear-gradient(90deg, #ff7f5f6e, #7bd9fe5f);
    -webkit-text-fill-color: transparent;
  border-radius: 40px;

}